div#main-wrapper {
}

div#successdiv{
    display:none;
}

#spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -100px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 70px; /* width of the spinner gif */
    height: 70px; /*hight of the spinner gif +2px to fix IE8 issue */
    background: #CCC;
    opacity: 0.6;
    display:none;
}

#groupUrlContainer{
    display: inline-block;
    max-width: 300px;
    overflow: hidden;
    padding-right: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    color: #888;
}

.appbtn{
    margin-right: 10px;
}

input {
    margin-top:10px;
}

div{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

#successdiv{
    display:none;
}

#groupurl{
    padding: 2px 35px 2px 5px;
    font: 11px "Helvetica Neue",Arial,Helvetica,sans-serif;
    border: dotted 1px #ccc;
    border-radius: 2px;
    border-bottom: 1px solid #dadada;

}
#groupname{
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #bbb;
    border-bottom: 1px solid #dadada;

}

label{
    display: inline-block;
    margin: 0 10px 10px 0;
    font-size: 13px;
    color: #5c5c5c;
    margin-top: 5px;
}
textarea{
    padding: 6px 10px;
    height: 55px;
    border-radius: 4px;
    border: 1px solid #bbb;
    border-bottom: 1px solid #dadada;
    font-size: 1em;
}
.group-type-elem{
    padding: 5px 5px 5px 25px;
    margin-bottom: 1px;
    position: relative;
}
.groupType{
    position: absolute;
    top: 8px;
    left: 3px;
    float: left;
    margin: 0 12px 0 0;
}
.j-placePermType{
    font-size: 12px;
    color: #666;
}

.jive-form-label-desc{
    font-size: 11px;
    color: #999;
}

/*li{*/
    /*display: list-item;*/
    /*padding: 10px 10px;*/
    /*margin-left: 19px;*/
/*}*/


#success-div{
    display: none;
}

#normal-user .admins{
    font-weight: 300;
    color: #3a87ad;
    font-size: 15px;
}

#normal-user .info-msg{
    padding: 5px;
    margin-bottom: 10px;
}


.icon{
    padding-left: 10px;
    padding-bottom: 2px;
}
#admins ul{
    list-style-type: none;
    padding:2px;
    /*background-color: #d9edf7;*/
}
.wrap-word{
    word-wrap: break-word;
}

.block-group, .block, .block-group:after, .block:after, .block-group:before, .block:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.block-group {
    *zoom: 1;
}
.block-group:before, .block-group:after {
    display: table;
    content: "";
    line-height: 0;
}
.block-group:after {
    clear: both;
}

.block-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.block-group > .block-group {
    clear: none;
    float: left;
    margin: 0 !important;
}

.primary-btn{
    border: 1px solid #3169AA;
    display: inline-block;
    padding: 8px 15px 8px 15px;
    color: #FFF;
    background: #408BD0;
    background: linear-gradient(to bottom, #62ACDE 0%, #4A8CCA 100%);
    font-size: 13px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.primary-btn:hover{
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    border-color: rgba(46, 106, 182, 0.8);
    background: #2270BB;
    background: linear-gradient(to bottom, #3F94CE 0%, #2270BB 100%);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.28);
    outline: none;
}
.secondary-btn{
    display: inline-block;
    border-radius: 3px;
    color: #FFF;
    font-size: 13px;
    color: #3778C7;
    padding: 8px 15px;
    text-align: center;
    border: 1px solid #BBB;
    background: #FFF;
    margin-right: 10px;
    background: #FFF linear-gradient(to bottom, rgba(255, 255, 255, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.13);
    text-decoration: none;
}
.secondary-btn:hover {
    cursor: pointer;
    background: #F6F6F6;
    background: #FFF linear-gradient(to bottom, rgba(193, 193, 193, 0.15) 0%, rgba(62, 62, 62, 0.15) 100%);
}

.cancel-btn{
    display: inline-block;
    border-radius: 3px;
    color: #FFF;
    font-size: 13px;
    color: #3778C7;
    padding: 8px 15px;
    text-align: center;
    border: 1px solid #BBB;
    background: #FFF;
    margin-right: 10px;
    background: #FFF linear-gradient(to bottom, rgba(255, 255, 255, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.13);
    text-decoration: none;
}
.cancel-btn:hover {
    cursor: pointer;
    background: #F6F6F6;
    background: #FFF linear-gradient(to bottom, rgba(193, 193, 193, 0.15) 0%, rgba(62, 62, 62, 0.15) 100%);
}

.tile-wrapper .block-group{margin-bottom: 10px;font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;}
.label-v{margin: 10px 0px;display: inline-block;padding:0px 5px;}
.tile-wrapper input[type="text"]{ width:100%;font-size:13px;box-sizing: border-box;}
.text-right{text-align: right;}
.text-center{text-align: center;}
.pull-left{float:left;}
.pull-right{float:right;}
.tile-wrapper h1{font-weight:200;}
input[type="text"]{
    border-radius: 3px;
    border: 1px solid #DADADA;
    padding:4px 10px;
}
.tile-wrapper{
    font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.tile-wrapper input.sm-input{
    width:calc(100% - 20px);
    box-sizing: border-box;
}

.import-feature{
    background: #f1f1f1;
    padding: 0px 20px 20px;
    overflow:hidden;
    margin-top: 10px;
}
.import-feature ul{
    overflow-y: auto;
    max-height: 200px;
    padding:0px;
}
.import-feature li{
    list-style-type:none;
    padding:5px 0px 5px 5px;
}
.import-feature .info{}
.import-feature .close-btn{
    display: inline-block;
    font-size: 12px;
    background: #CECECE;
    padding: 2px 5px;
    border-radius: 5px;
    color:#444;
    margin-left:20px;
    text-decoration:none;
    cursor:pointer;
}
.import-feature .tile-buttons{
    text-align:right;
}
.import-feature  img{
    margin-right:10px;
    vertical-align:middle;
}
#currentGroup .admins{
    background-color: #d9edf7;
    padding: 8px 10px;
    font-weight: 300;
    color: #3a87ad;
    font-size: 15px;
}

#currentGroup h1 {
    margin-top: 0;
}
#currentGroup p {
    font-family: 'OpenSansRegular',sans-serif;
    line-height: 22px;
}

.import-feature .import-group-label{
    display: inline-block;
    width:160px;
    vertical-align: top;
    word-wrap: break-word;
}

.info{
    font-weight: bold;
    word-wrap: break-word;
    width: 27em;
}

li.place{
    list-style-type: disc;
    margin-left: 15px;
}