<html>
<div> Hi,
    <br/>
        Merge your selected groups to the group  <a href="<%=groupUrl %>">"<%= groupName %>"</a> was successful.
    <br/>
    As part of the merge operation, the group <a href="<%=groupUrl %>">"<%= groupName %>"</a> has all the content type enabled. If you wish to disable any particular content type please go to Manage > Settings > Group Features and Activity Setting
</div>
</html>